@font-face {
	font-family: irsansl;
	font-style: normal;
	font-weight:;
	src:url('../fonts/IranSansL.eot');
	src:url('../fonts/IranSansL.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSansL.woff2') format('woff2'),
	url('../fonts/IranSansL.woff') format('woff'),
	url('../fonts/IranSansL.ttf') format('truetype');
}
@font-face {
	font-family: irsans;
	font-style: normal;
	font-weight:;
	src:url('../fonts/IranSans.eot');
	src:url('../fonts/IranSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSans.woff2') format('woff2'),
	url('../fonts/IranSans.woff') format('woff'),
	url('../fonts/IranSans.ttf') format('truetype');
}
@font-face {
	font-family: yekan;
	font-style: normal;
	font-weight:;
	src:url('../fonts/yekan.eot');
	src:url('../fonts/yekan.eot?#iefix') format('embedded-opentype'),
	url('../fonts/yekan.woff2') format('woff2'),
	url('../fonts/yekan.woff') format('woff'),
	url('../fonts/yekan.ttf') format('truetype');
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight:;
	src:url('../fonts/Vazir.eot');
	src:url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Vazir.woff2') format('woff2'),
	url('../fonts/Vazir.woff') format('woff'),
	url('../fonts/Vazir.ttf') format('truetype');
}


div1 {
font-family:irsans;
font-size-adjust:20px;
}
.clumb1 {
border:2px #ddd;
border-radius:10px;
width:auto;
height:40px;
background-image:url("../media/H1.Bim.png");
}
.titr {
font-weight:bolder;
padding-top:10px;
text-align:center;
font-family:irsans;
font-size:30px;
color:white;
}

.divform {
  border:2px solid blue;
  border-radius:10px;
  width:auto;
  height:200px;
}